body {
    background-color: black;
    color: white;
}
.flex-container {
    display: flex;
}
div {
    border: 1px solid white;
}
aside {
    width: 300px;
}

#artistsList {
    display: inline;
    padding: 0px;
}
#artistsList li {
    border: 1px solid gray;
    padding: 5px;
    font-size: 20px;
}
#artistsList li:hover {
    background-color: aliceblue;
}
.artistPlaycount {
    display: inline-block;

    padding-right: 5px;
    color: red;
    text-align: center;
}