body {
    background-color: black;
    color: white;
}
main {
    margin: 0px 7%;
}
.flex-container {
    display: flex;
}
/*div {
    border: 1px solid blue;
}
span {
    border: 1px solid red;
}*/
aside {
    width: 20%;
}
section {
    width: 80%;
}
#albumsDiv {
    width: 40%;
}
#albumDetailsDiv {
    width: 60%;
}

#artistsList {
    display: inline;
    list-style-type: none;
    padding: 0px;
}
#artistsList li {
    border: 1px solid gray;
    padding: 5px;
    font-size: 20px;
}
#artistsList li:hover {
    background-color: aliceblue;
}
.artistRank {
    display: inline-block;
    width: 20%;
    padding-right: 5px;
    color: red;
    text-align: center;
}
#albumsDiv {
    max-height: 600px;
    overflow-y: auto;
}
#artistAlbums {
    display: inline;
    list-style-type: none;
}
#artistAlbums li {
    border: 1px solid gray;
    padding: 5px;
    font-size: 20px;
}
#artistAlbums li:hover {
    background-color: aliceblue;
}

#albumSongs {
    display: inline;
    list-style-type: none;
}
#albumSongs li {
    border: 1px solid gray;
    padding: 5px;
    font-size: 20px;
}
#artistAalbumSongslbums li:hover {
    background-color: aliceblue;
}
